@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
	exclude: rootscrollgutter;
}

@plugin "daisyui/theme" {
	name: "twinkling_stars";
	default: true; /* set as default */
	prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */
	color-scheme: dark; /* color of browser-provided UI */

	--color-base-100: oklch(18.22% 0 0);
	--color-base-200: oklch(23.5% 0 0);
	--color-base-300: oklch(25.13% 0.1297 306.21);
	--color-base-content: oklch(100% 0 0);
	--color-primary: oklch(60.3% 0.297 310.67);
	--color-primary-content: oklch(100% 0 0);
	--color-secondary: oklch(48.72% 0.0161 276.78);
	--color-secondary-content: oklch(100% 0 0);
	--color-accent: oklch(77.2% 0.1738 64.55);
	--color-accent-content: oklch(100% 0 0);
	--color-neutral: oklch(49.26% 0 0);
	--color-neutral-content: oklch(100% 0 0);
	--color-info: oklch(81.16% 0.1198 210.85);
	--color-info-content: oklch(100% 0 0);
	--color-success: oklch(77.21% 0.1476 158.99);
	--color-success-content: oklch(100% 0 0);
	--color-warning: oklch(85.44% 0.1266 105.3);
	--color-warning-content: oklch(39.84% 0.0266 268.01);
	--color-error: oklch(60.55% 0.217 22.49);
	--color-error-content: oklch(100% 0 0);

	/* border radius */
	--radius-selector: 1rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;

	/* base sizes */
	--size-selector: 0.25rem;
	--size-field: 0.25rem;

	/* border size */
	--border: 1px;

	/* effects */
	--depth: 1;
	--noise: 0;
}

@layer base {
	@font-face {
		font-family: "Source Sans";
		font-style: normal;
		src: url("/fonts/SourceSans3-VariableFont_wght.ttf") format("truetype-variations");
	}
	@font-face {
		font-family: "Source Sans";
		font-style: italic;
		src: url("/fonts/SourceSans3-Italic-VariableFont_wght.ttf") format("truetype-variations");
	}

	* {
		margin: 0;
		padding: 0;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
		scroll-behavior: smooth;
	}

	html {
		&:has(
			.modal-open,
			.modal[open],
			.modal:target,
			.modal-toggle:checked,
			.drawer:not(.drawer-open) > .drawer-toggle:checked
		) {
			overflow: hidden !important;
		}
	}

	@media (prefers-reduced-motion: reduce) {
		*,
		*::before,
		*::after {
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			transition-duration: 0.01ms !important;
			scroll-behavior: auto !important;
			transition: none;
		}
	}

	@keyframes twinkle {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0.5;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes move-twink-back {
		from {
			background-position: 0 0;
		}
		to {
			background-position: -10000px 5000px;
		}
	}
	@-webkit-keyframes move-twink-back {
		from {
			background-position: 0 0;
		}
		to {
			background-position: -10000px 5000px;
		}
	}
	@-moz-keyframes move-twink-back {
		from {
			background-position: 0 0;
		}
		to {
			background-position: -10000px 5000px;
		}
	}
	@-ms-keyframes move-twink-back {
		from {
			background-position: 0 0;
		}
		to {
			background-position: -10000px 5000px;
		}
	}
}

@utility animate-twinkle {
	animation: twinkle 1s linear infinite;
}

@utility stars {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	display: block;
	height: 100%;
	width: 100%;
	background: #000 url(/images/assets/stars.webp) repeat top center;
	/* z-index: -10; */
}

@utility twinkling {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	display: block;
	height: 100%;
	width: 100%;
	background: transparent url(/images/assets/twinkling.webp) repeat top center;
	/* z-index: 1; */
	-moz-animation: move-twink-back 500s linear infinite;
	-ms-animation: move-twink-back 500s linear infinite;
	-o-animation: move-twink-back 500s linear infinite;
	-webkit-animation: move-twink-back 500s linear infinite;
	animation: move-twink-back 500s linear infinite;
}

@utility scrollbar-gutter-stable {
	scrollbar-gutter: stable;
}
