---
import Typography from "@/components/Typography.astro"
import Layout from "@/layouts/Layout.astro"
import Setup from "@public/images/assets/desktop-pc-setup.svg"
import { Icon } from "astro-icon/components"
---

<Layout title="Home">
	<div class="flex flex-col gap-20 px-5 font-source-sans-pro">
		<section
			id="hero"
			class="grid grid-rows-[min-content_auto] gap-8 py-12 md:min-h-screen md:grid-cols-2 md:grid-rows-1 md:items-center xl:mx-auto xl:max-w-7xl"
		>
			<div class="mx-auto mb-8 mt-8 w-full md:order-2">
				<figure class="w-full">
					<img
						src={Setup.src}
						alt="hero logo"
						width={Setup.width}
						height={Setup.height}
						class="w-full max-w-full"
					/>
				</figure>
			</div>
			<div>
				<Typography
					as="h1"
					id={"hero-title"}
					variants={{ variant: "h1-xl", color: "white", fontWeight: "bolder" }}
					class:list={"mb-9 md:max-w-[1000px]"}
				>
					Software Engineer
				</Typography>
				<Typography
					as="p"
					id={"hero-description"}
					variants={{ variant: "body-lg", color: "white", fontWeight: "normal" }}
					class:list={"mb-4 max-w-[600px] leading-6"}
				>
					Turning ideas into reality. I design beautiful user interfaces and craft powerful backends
					for web, desktop, and mobile apps.
				</Typography>
				<a
					href="#about-me"
					class="flex w-fit rotate-0 items-center gap-1 text-neutral-content underline decoration-accent decoration-2 underline-offset-[5px] transition duration-300 ease-in-out hover:text-accent [&>svg]:rotate-0 [&>svg]:transition [&>svg]:duration-300 [&>svg]:hover:rotate-90"
				>
					<Typography
						as="span"
						variants={{ variant: "body-lg", color: "inherit", fontWeight: "bold" }}
						class:list={"leading-6"}>About me</Typography
					>
					<Icon name="mdi:chevron-right" class="mt-[6px] h-6 w-6" />
				</a>
			</div>
		</section>

		<section
			id="about-me"
			class="grid py-28 md:min-h-screen md:grid-cols-2 md:grid-rows-1 md:items-center xl:mx-auto xl:max-w-7xl"
		>
			<div class="mb-9 mt-5 flex flex-col gap-4">
				<Typography
					as="h2"
					id={"about-me-title"}
					variants={{ variant: "h1-xl", color: "white", fontWeight: "bolder" }}
					class:list={"md:max-w-[1000px]"}
				>
					<span>Hello there,</span>
					<br />
					<span>I'm Cristhofer Pincetti</span>
				</Typography>
				<Typography
					as="p"
					id={"about-me-placeholder"}
					variants={{ variant: "body", color: "white", fontWeight: "light" }}
					class:list={"leading-6 opacity-70"}
				>
					Software Engineer / Tech enthusiast / Problem solving enjoyer
				</Typography>
			</div>
			<div class="flex flex-col gap-4" id="about-me-description">
				<Typography
					as="p"
					variants={{ variant: "body-lg", color: "white", fontWeight: "normal" }}
					class:list={"leading-6"}
				>
					Over two year of experienced creating seamless user experiences.
				</Typography>
				<Typography
					as="p"
					variants={{ variant: "body-lg", color: "white", fontWeight: "normal" }}
					class:list={"leading-6"}
				>
					Skilled in innovative tech solutions and creative coding.
				</Typography>
				<Typography
					as="p"
					variants={{ variant: "body-lg", color: "white", fontWeight: "normal" }}
					class:list={"leading-6"}
				>
					Specializes in building end-to-end solutions and enjoys tackling complex challenges.
				</Typography>
			</div>
		</section>

		<!-- <Slider id={"experience"} slides={slides} currentSlide={1} /> -->

		<section
			id="skills"
			class="py-12 md:flex md:min-h-screen md:flex-col md:items-center md:justify-center xl:mx-auto xl:max-w-7xl"
		>
			<Typography
				as="p"
				variants={{ variant: "body-lg", color: "white", fontWeight: "light" }}
				class:list={"leading-6 opacity-70"}
			>
				Superpowers for software superheroes!
			</Typography>
			<Typography
				as="h2"
				id={"skills-title"}
				variants={{ variant: "h1-xl", color: "white", fontWeight: "bolder" }}
				class:list={"md:max-w-[1000px]"}
			>
				Skills & Technologies
			</Typography>
			<div class="flex flex-col gap-12 md:max-w-4xl md:items-center">
				<div class="flex flex-col gap-4 text-lg leading-6 md:text-center">
					<Typography
						as="p"
						id="skills-description"
						variants={{ variant: "body-lg", color: "white", fontWeight: "normal" }}
						class:list={"leading-6"}
					>
						As a Software Engineer, I possess proficiency in a wide range of technologies, with a
						primary focus on web development. I have experience leveraging JavaScript, HTML, and CSS
						to build user-friendly websites. Additionally, for interactive web applications, I am
						well-versed in frontend frameworks such as Next.js, Angular, and React. My backend
						development skills encompass Node.js, both independently and in conjunction with the
						Express.js framework. Furthermore, I have experience creating multiplatform applications
						using Electron.js, React Native, and Android Studio, targeting desktop (Windows, Linux,
						macOS) and mobile (iOS, Android) environments.
					</Typography>
					<Typography
						as="p"
						id="skills-linkedin"
						variants={{ variant: "body-lg", color: "white", fontWeight: "normal" }}
						class:list={"leading-6"}
					>
						Visit my
						<a
							href="https://www.linkedin.com/in/cristhofer-pincetti-herrera/"
							class="text-neutral-content underline decoration-accent decoration-2 underline-offset-[5px] transition-colors duration-300 ease-in-out hover:text-accent"
						>
							<Typography
								as="span"
								variants={{ variant: "body-lg", color: "inherit", fontWeight: "normal" }}
								class:list={"leading-6"}>Linkedin</Typography
							>
						</a> for more details.
					</Typography>
				</div>
				<div
					id="skills-list"
					class="grid w-full max-w-[50rem] grid-cols-3 gap-5 md:flex md:flex-wrap md:items-center md:justify-center"
				>
					<figure
						class="flex flex-col items-center justify-start text-center text-neutral-content transition-colors duration-300 ease-in-out hover:text-accent"
					>
						<Icon name="teenyicons:nextjs-solid" class="h-12 w-12" />
						<figcaption>
							<Typography
								as="span"
								variants={{ variant: "body", color: "inherit", fontWeight: "normal" }}
								>Next JS</Typography
							>
						</figcaption>
					</figure>
					<figure
						class="flex flex-col items-center justify-start text-center text-neutral-content transition-colors duration-300 ease-in-out hover:text-accent"
					>
						<Icon name="simple-icons:angular" class="h-12 w-12" />
						<figcaption>
							<Typography
								as="span"
								variants={{ variant: "body", color: "inherit", fontWeight: "normal" }}
								>Angular</Typography
							>
						</figcaption>
					</figure>
					<figure
						class="flex flex-col items-center justify-start text-center text-neutral-content transition-colors duration-300 ease-in-out hover:text-accent"
					>
						<Icon name="simple-icons:astro" class="h-12 w-12" />
						<figcaption>
							<Typography
								as="span"
								variants={{ variant: "body", color: "inherit", fontWeight: "normal" }}
								>Astro</Typography
							>
						</figcaption>
					</figure>
					<figure
						class="flex flex-col items-center justify-start text-center text-neutral-content transition-colors duration-300 ease-in-out hover:text-accent"
					>
						<Icon name="simple-icons:electron" class="h-12 w-12" />
						<figcaption>
							<Typography
								as="span"
								variants={{ variant: "body", color: "inherit", fontWeight: "normal" }}
								>Electron</Typography
							>
						</figcaption>
					</figure>
					<figure
						class="flex flex-col items-center justify-start text-center text-neutral-content transition-colors duration-300 ease-in-out hover:text-accent"
					>
						<Icon name="simple-icons:react" class="h-12 w-12" />
						<figcaption>
							<Typography
								as="span"
								variants={{ variant: "body", color: "inherit", fontWeight: "normal" }}
								>React</Typography
							>
						</figcaption>
					</figure>
					<figure
						class="flex flex-col items-center justify-start text-center text-neutral-content transition-colors duration-300 ease-in-out hover:text-accent"
					>
						<Icon name="simple-icons:react" class="h-12 w-12" />
						<figcaption>
							<Typography
								as="span"
								variants={{ variant: "body", color: "inherit", fontWeight: "normal" }}
								>React Native</Typography
							>
						</figcaption>
					</figure>
					<figure
						class="flex flex-col items-center justify-start text-center text-neutral-content transition-colors duration-300 ease-in-out hover:text-accent"
					>
						<Icon name="teenyicons:nodejs-solid" class="h-12 w-12" />
						<figcaption>
							<Typography
								as="span"
								variants={{ variant: "body", color: "inherit", fontWeight: "normal" }}
								>Node JS</Typography
							>
						</figcaption>
					</figure>
					<figure
						class="flex flex-col items-center justify-start text-center text-neutral-content transition-colors duration-300 ease-in-out hover:text-accent"
					>
						<Icon name="teenyicons:tailwind-solid" class="h-12 w-12" />
						<figcaption>
							<Typography
								as="span"
								variants={{ variant: "body", color: "inherit", fontWeight: "normal" }}
								>Tailwind CSS</Typography
							>
						</figcaption>
					</figure>
					<figure
						class="flex flex-col items-center justify-start text-center text-neutral-content transition-colors duration-300 ease-in-out hover:text-accent"
					>
						<Icon name="teenyicons:typescript-solid" class="h-12 w-12" />
						<figcaption>
							<Typography
								as="span"
								variants={{ variant: "body", color: "inherit", fontWeight: "normal" }}
								>TypeScript</Typography
							>
						</figcaption>
					</figure>
					<figure
						class="flex flex-col items-center justify-start text-center text-neutral-content transition-colors duration-300 ease-in-out hover:text-accent"
					>
						<Icon name="teenyicons:html5-solid" class="h-12 w-12" />
						<figcaption>
							<Typography
								as="span"
								variants={{ variant: "body", color: "inherit", fontWeight: "normal" }}
								>HTML:5</Typography
							>
						</figcaption>
					</figure>
					<figure
						class="flex flex-col items-center justify-start text-center text-neutral-content transition-colors duration-300 ease-in-out hover:text-accent"
					>
						<Icon name="teenyicons:javascript-solid" class="h-12 w-12" />
						<figcaption>
							<Typography
								as="span"
								variants={{ variant: "body", color: "inherit", fontWeight: "normal" }}
								>JavaScript</Typography
							>
						</figcaption>
					</figure>
					<figure
						class="flex flex-col items-center justify-start text-center text-neutral-content transition-colors duration-300 ease-in-out hover:text-accent"
					>
						<Icon name="teenyicons:css3-solid" class="h-12 w-12" />
						<figcaption>
							<Typography
								as="span"
								variants={{ variant: "body", color: "inherit", fontWeight: "normal" }}
								>CSS3</Typography
							>
						</figcaption>
					</figure>
					<figure
						class="flex flex-col items-center justify-start text-center text-neutral-content transition-colors duration-300 ease-in-out hover:text-accent"
					>
						<Icon name="cib:postgresql" class="h-12 w-12" />
						<figcaption>
							<Typography
								as="span"
								variants={{ variant: "body", color: "inherit", fontWeight: "normal" }}
								>PostgreSQL</Typography
							>
						</figcaption>
					</figure>
					<figure
						class="flex flex-col items-center justify-start text-center text-neutral-content transition-colors duration-300 ease-in-out hover:text-accent"
					>
						<Icon name="grommet-icons:mysql" class="h-12 w-12" />
						<figcaption>
							<Typography
								as="span"
								variants={{ variant: "body", color: "inherit", fontWeight: "normal" }}
								>MySQL</Typography
							>
						</figcaption>
					</figure>
					<figure
						class="flex flex-col items-center justify-start text-center text-neutral-content transition-colors duration-300 ease-in-out hover:text-accent"
					>
						<Icon name="simple-icons:mongodb" class="h-12 w-12" />
						<figcaption>
							<Typography
								as="span"
								variants={{ variant: "body", color: "inherit", fontWeight: "normal" }}
								>MongoDB</Typography
							>
						</figcaption>
					</figure>
					<figure
						class="flex flex-col items-center justify-start text-center text-neutral-content transition-colors duration-300 ease-in-out hover:text-accent"
					>
						<Icon name="simple-icons:prisma" class="h-12 w-12" />
						<figcaption>
							<Typography
								as="span"
								variants={{ variant: "body", color: "inherit", fontWeight: "normal" }}
								>Prisma</Typography
							>
						</figcaption>
					</figure>
					<figure
						class="flex flex-col items-center justify-start text-center text-neutral-content transition-colors duration-300 ease-in-out hover:text-accent"
					>
						<Icon name="simple-icons:sequelize" class="h-12 w-12" />
						<figcaption>
							<Typography
								as="span"
								variants={{ variant: "body", color: "inherit", fontWeight: "normal" }}
								>Sequelize</Typography
							>
						</figcaption>
					</figure>
					<figure
						class="flex flex-col items-center justify-start text-center text-neutral-content transition-colors duration-300 ease-in-out hover:text-accent"
					>
						<Icon name="simple-icons:github" class="h-12 w-12" />
						<figcaption>
							<Typography
								as="span"
								variants={{ variant: "body", color: "inherit", fontWeight: "normal" }}
								>Github</Typography
							>
						</figcaption>
					</figure>
					<figure
						class="flex flex-col items-center justify-start text-center text-neutral-content transition-colors duration-300 ease-in-out hover:text-accent"
					>
						<Icon name="simple-icons:gitlab" class="h-12 w-12" />
						<figcaption>
							<Typography
								as="span"
								variants={{ variant: "body", color: "inherit", fontWeight: "normal" }}
								>Gitlab</Typography
							>
						</figcaption>
					</figure>
				</div>
			</div>
		</section>
	</div>
</Layout>
