---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main>
    <section id="hero">
      <h1 id="hero-title">Software Developer</h1>
      <p id="hero-description">
        Resolving design problems, building Web APPs, Mobile APPs modules, APIs,
        integrations, and more.
      </p>
      <a href="#about-me">about me</a>
    </section>
    <section id="about-me"></section>
  </main>

  <style></style>
</Layout>
