---
import { getLangFromUrl, getTranslations } from "@/core/i18n/utils"
import Typography from "@core/components/Typography.astro"

const lang = getLangFromUrl(Astro.url)
const alerts = getTranslations(lang, "alerts")
---

<div
	role="alert"
	class="alert alert-warning bg-primary/40 text-base-content grid min-h-8 items-center justify-items-center rounded-none border-transparent px-4 py-2"
>
	<div class="col-span-2 flex items-center justify-center gap-4">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			class="h-6 w-6 shrink-0 stroke-current"
			fill="none"
			viewBox="0 0 24 24"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
				d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
			></path>
		</svg>
		<Typography as="p" variant="body-sm" color="inherit">
			{alerts.wip}
		</Typography>
	</div>
</div>
