@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Source Sans";
		font-style: normal;
		src: url("/fonts/SourceSans3-VariableFont_wght.ttf") format("truetype-variations");
	}
	@font-face {
		font-family: "Source Sans";
		font-style: italic;
		src: url("/fonts/SourceSans3-Italic-VariableFont_wght.ttf") format("truetype-variations");
	}

	* {
		margin: 0;
		padding: 0;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
		scroll-behavior: smooth;
	}

	body {
		min-height: 100vh;
		min-height: 100dvh;
		font-size: 16px;
		line-height: 24px;
	}

	p {
		text-wrap: pretty;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
	}

	img,
	video,
	svg {
		height: auto;
		max-width: 100%;
	}

	@media (prefers-reduced-motion: reduce) {
		*,
		*::before,
		*::after {
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			transition-duration: 0.01ms !important;
			scroll-behavior: auto !important;
			transition: none;
		}
	}

	@keyframes twinkle {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0.5;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes move-twink-back {
		from {
			background-position: 0 0;
		}
		to {
			background-position: -10000px 5000px;
		}
	}
	@-webkit-keyframes move-twink-back {
		from {
			background-position: 0 0;
		}
		to {
			background-position: -10000px 5000px;
		}
	}
	@-moz-keyframes move-twink-back {
		from {
			background-position: 0 0;
		}
		to {
			background-position: -10000px 5000px;
		}
	}
	@-ms-keyframes move-twink-back {
		from {
			background-position: 0 0;
		}
		to {
			background-position: -10000px 5000px;
		}
	}
}

@layer components {
	.animate-twinkle {
		animation: twinkle 1s linear infinite;
	}

	.stars,
	.twinkling {
		@apply absolute bottom-0 left-0 right-0 top-0 block h-full w-full;
	}
	.stars {
		background: #000 url(/images/assets/stars.webp) repeat top center;
		/* z-index: -10; */
	}
	.twinkling {
		background: transparent url(/images/assets/twinkling.webp) repeat top center;
		/* z-index: 1; */
		-moz-animation: move-twink-back 200s linear infinite;
		-ms-animation: move-twink-back 200s linear infinite;
		-o-animation: move-twink-back 200s linear infinite;
		-webkit-animation: move-twink-back 200s linear infinite;
		animation: move-twink-back 200s linear infinite;
	}
}
